.main-text {
    margin-top: 15px;
}

.second-title {
    margin-top: 5vw;
    font-size: 2rem;
}

.books-slider-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.slider-card {
    flex: 1 1 250px;
    max-width: 320px;
    min-width: 200px;
    padding: 10px;
    background-color: #3a3a4a;
    color: #fff;
    border: 1px solid #1C1C24;
    border-radius: 5px;
}

.slider-card-image {
    width: 100%;
    max-height: 300px;
    height: 100%;
}

.card-title-book {
    font-weight: 600;
    font-size: 20px;
    margin-top: 2%;
}

.slider-view-container {
    display: flex;
    justify-content: right;
    gap: 2%;
}

.slider-card-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.book-author {
    font-size: 14px;
    font-weight: 300;
}

.slider-view-container p {
    font-weight: 100;
    font-size: 12px;
}

.slider-eye-image {
    max-width: 16px;
    max-height: 16px;
    width: 100%;
    height: 100%;
}

.slider-wave {
    max-width: 76px;
    max-height: 76px;
    width: 100%;
    height: 100%;
}

.add-new-book-button {
    background-color: #1C1C24;
    max-width: 200px;
    margin-top: 5%;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
}

.add-new-book-button:hover {
    background-color: #4447E2;
}