{% extends "base.html" %}
{% block content %}
<div class="user-reviews-page">
    <div class="reviews-list">
    {% for author in authors %}
        <div class="review-card">
            <p class="review-book-title"><a href="{{ url_for('author_detail', author_id=author.id) }}">
                {{ author.name }} {{ author.surname }} {% if author.patronymic %} {{ author.patronymic}} {% endif %}
            </a></p>
        </div>
    {% endfor %}
    </div>
        {% if current_user.is_authenticated %}
            {% if current_user.role == "admin" %}
                <a href="{{ url_for('change_book', book_id=book.id) }}" class="book-card-button-change">Добавить книгу</a>
            {% endif%}
        {% endif %}
    </div>
{% endblock %}