<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

    {% if local_css_file %}
        <link href="{{ url_for('static', filename='/css/' ~ local_css_file) }}" rel="stylesheet">
    {% endif %}

    <!-- Импорт шрифтов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">

    <!--    Подключение jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Контейнер для уведомлений -->
    {% if error_message %}
        <div id="notification" class="notification" style="display: none;">
            <span id="notification-text">Здесь будет текст уведомления</span>
        </div>
    {% endif %}
    <div class="wrapper">
        <!-- Хеадер -->
        <header class="header">
            <div class="container header-container">
                <div class="header-logo-container">
                    <p class="header-logo"><a href="{{ url_for('index') }}" class="header-logo-link">LIB</a></p>
                </div>
                <ul class="header-menu">
                    <li><a href="{{ url_for('index') }}" class="header-logo-link">Главная</a></li>
                    <li><a href="{{ url_for('books_list') }}" class="header-logo-link">Все книги</a></li>
                    <li><a href="{{ url_for('authors_list') }}" class="header-logo-link">Авторы</a></li>
                    <li><a href="{{ url_for('about_project') }}" class="header-logo-link">О проекте</a></li>
                </ul>
                <div class="header-search-container">
                        <input type="search" class="header-search" placeholder="Введите название или автора книги" id="ajax-search" name="search" autocomplete="off">
                        <div id="suggestions-box" class="suggestions-box"></div>
                        <button class="search-button-submit" id="search-button">Найти</button>
                </div>
                <div class="header-user-container">
                    {% if current_user.is_authenticated %}
                        <p class="header-user-nickname">
                            <a href="{{ url_for('user_account', username=current_user.username) }}" class="user-nickname-link">{{ current_user.username }}</a>
                        </p>
                        <img class="header-user-img" src="{{ current_user.avatar(60) }}" alt="Аватар">
                        <button class="arrow-userinfo-button">
                            <img class="header-arrow-down" src="{{ url_for('static', filename='images/arrow-ios-down.svg') }}" alt="Стрелка вниз">
                        </button>

                        <!-- Выпадающий список -->
                        <ul class="user-dropdown-menu" style="display: none;">
                            <li><a href="{{ url_for('user_account', username=current_user.username) }}">Мой профиль</a></li>
                            <li><a href="">Мои книги</a></li>
                            <li><a href="{{ url_for('user_reviews', username=current_user.username) }}">Мои отзывы</a></li>
                        </ul>
                    {% else %}
                        <p class="header-user-nickname">
                            <a href="{{ url_for('register') }}" class="user-nickname-link">Зарегистрироваться</a>
                            <a href="{{ url_for('login') }}" class="user-nickname-link">Войти</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </header>

        <!-- Контент -->
        <main class="main">
            <div class="container">
                <div class="main-container">
                    <h1 class="main-title">{{ title }}</h1>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <!-- Футер -->
        <footer class="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-contact-container">
                        <p class="contact-title">Контакты:</p>
                        <ul class="contact-list">
                            <li><a href="https://github.com/taishakutenn" class="footer-contact-link">github</a></li>
                            <li><a href="https://habr.com/ru/users/taishakuten" class="footer-contact-link">habr</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

<!--        Подлюкчаем ajax крипт для поисковика-->
    <script src="{{ url_for('static', filename='scripts/ajax_search.js') }}"></script>

<!--    Подключаем скрипт для поиска-->
    <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>

<!--    Подключаем срипт для выпадающей стрелки-->
    <script src="{{ url_for('static', filename='scripts/arrow_down.js') }}"></script>

<!--    &lt;!&ndash;Подключаем скрипт уведомления об ошибке&ndash;&gt;-->
<!--    <script src="{{ url_for('static', filename='scripts/error_notification.js') }}"></script>-->
</body>
</html>
