<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

    {% if local_css_file %}
        <link href="{{ url_for('static', filename='/css/' ~ local_css_file) }}" rel="stylesheet">
    {% endif %}

    <!-- Импорт шрифтов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- Хеадер -->
        <header class="header">
            <div class="container header-container">
                <div class="header-logo-container">
                    <p class="header-logo"><a href="#" class="header-logo-link">LIB</a></p>
                </div>
                <ul class="header-menu">
                    <li><a href="{{ url_for('index') }}" class="header-logo-link">Главная</a></li>
                    <li><a href="#" class="header-logo-link">Все книги</a></li>
                    <li><a href="#" class="header-logo-link">О проекте</a></li>
                </ul>
                <div class="header-search-container">
                    <input type="search" class="header-search" placeholder="Введите название или автора книги">
                    <button class="search-button-submit">Найти</button>
                </div>
                <div class="header-user-container">
                    <p class="header-user-nickname"><a href="#" class="user-nickname-link">Никнейм пользователя</a></p>
                    <img class="header-user-img" src="../static/images/avatar.png" alt="Аватар">
                    <button class="arrow-userinfo-button">
                        <img class="header-arrow-down" src="../static/images/arrow-ios-down.svg" alt="Стрелка вниз">
                    </button>
                </div>
            </div>
        </header>

        <!-- Контент -->
        <main class="main">
            <div class="container">
                <div class="main-container">
                    <h1 class="main-title">{{ title }}</h1>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <!-- Футер -->
        <footer class="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-contact-container">
                        <p class="contact-title">Контакты:</p>
                        <ul class="contact-list">
                            <li><a href="https://github.com/taishakutenn" class="footer-contact-link">github</a></li>
                            <li><a href="https://habr.com/ru/users/taishakuten" class="footer-contact-link">habr</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
