{% extends "base.html" %}
{% block content %}
    <div class="all-books-container">
            <h2 class="section-title">Все книги</h2>
            <div class="profile-books-container" style="display: flex; flex-wrap: wrap; gap: 20px;">
                <div class="book-card">
                    <img src="static/images/book1.jpg" class="book-card-image" alt="Обложка книги">
                    <h3 class="book-card-title">Название книги</h3>
                    <p class="book-card-author">Автор книги</p>
                    <p class="book-card-description">
                        Здесь будет краткое описание книги. Несколько строк текста, чтобы пользователь понимал, о чём она.
                    </p>
                    <div class="book-card-buttons">
                        <a href="#" class="book-card-button">Читать</a>
                        <a href="#" class="book-card-button">В избранное</a>
                    </div>
                </div>
                <div class="book-card">
                    <img src="static/images/book1.jpg" class="book-card-image" alt="Обложка книги">
                    <h3 class="book-card-title">Название книги</h3>
                    <p class="book-card-author">Автор книги</p>
                    <p class="book-card-description">
                        Здесь будет краткое описание книги. Несколько строк текста, чтобы пользователь понимал, о чём она.
                    </p>
                    <div class="book-card-buttons">
                        <a href="#" class="book-card-button">Читать</a>
                        <a href="#" class="book-card-button">В избранное</a>
                    </div>
                </div>
                <div class="book-card">
                    <img src="static/images/book1.jpg" class="book-card-image" alt="Обложка книги">
                    <h3 class="book-card-title">Название книги</h3>
                    <p class="book-card-author">Автор книги</p>
                    <p class="book-card-description">
                        Здесь будет краткое описание книги. Несколько строк текста, чтобы пользователь понимал, о чём она.
                    </p>
                    <div class="book-card-buttons">
                        <a href="#" class="book-card-button">Читать</a>
                        <a href="#" class="book-card-button">В избранное</a>
                    </div>
                </div>
            <!-- Добавь больше карточек по необходимости -->
        </div>
    </div>
{% endblock %}