{% extends "base.html" %}
{% block content %}
    <div class="all-books-container">
            <div class="profile-books-container" style="display: flex; flex-wrap: wrap; gap: 20px;">
                {% for book in author.books %}
                    <div class="book-card">
                        <img src="data:image/jpeg;base64,{{ book.get_photo_base64() }}" class="book-card-image" alt="Обложка книги">
                        <h3 class="book-card-title"><a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.title }}</a></h3>
                        <p class="book-card-description">
                            {{ book.description }}
                        </p>
                        <div class="book-card-buttons">
                            <a href="{{ book.link_to_download }}" class="book-card-button">Скачать</a>
                            <a href="{{ url_for('add_book_for_me', book_id=book.id) }}" class="book-card-button">В избранное</a>
                            {% if current_user.is_authenticated %}
                                {% if current_user.role == "admin" %}
                                    <a href="{{ url_for('change_book', book_id=book.id) }}" class="book-card-button-change">Изменить</a>
                                {% endif%}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
        </div>
        <a href="{{ url_for('change_author', author_id=author.id) }}" class="book-card-button">Изменить автора</a>
        <a href="{{ url_for('delete_author', author_id=author.id) }}" class="book-card-button-change">Удалить автора</a>
    </div>
{% endblock %}