{% extends "base.html" %}
{% block content %}
<div class="book-detail-section-for-add">
    <form method="POST" enctype="multipart/form-data" class="add-book-form">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-input") }}
            {% for error in form.title.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-input") }}
            {% for error in form.description.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.link_to_download.label(class="form-label") }}
            {{ form.link_to_download(class="form-input") }}
        </div>

        <div class="form-group">
            {{ form.book_photo.label(class="form-label") }}
            {{ form.book_photo(class="form-input") }}
        </div>

        <!-- Поля для авторов -->
        <div class="form-group">
            <label class="form-label">Авторы:</label>
            <div id="authors-container">
                <!-- Первое поле для автора -->
                {% if form.authors %}
                    {% for author_form in form.authors.form %}
                        <div class="author-field">
                            {{ author_form.name.label(class="form-label") }}
                            {{ author_form.name(class="form-input") }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="button" id="add-author-btn" class="book-card-button">Добавить автора</button>
        </div>

       <div class="form-group">
            <label class="form-label">Выберите теги:</label>
            <div id="available-tags">
                {% for tag in available_tags %}
                    <span class="tag-option" data-tag="{{ tag }}">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Выбранные теги:</label>
            <div id="selected-tags"></div>
            <input type="hidden" name="selected_tags" id="selected-tags-input" value="{{ ','.join(selected_tags) }}">
        </div>

        <input type="hidden" id="selected-authors-data" value="{{ '|'.join(selected_authors) }}">
        <button type="submit" class="book-card-button">Изменить книгу</button>
    </form>

<!--    Подключаем js-->
    <script src="{{ url_for('static', filename='scripts/add_tag_field_for_change.js' ) }}"></script>
    <script src="{{ url_for('static', filename='scripts/add_author_filed_for_change.js' ) }}"></script>
</div>
{% endblock %}