{% extends "base.html" %}

{% block content %}
<div class="main-text">
    <p>
        LIB — онлайн библиотека с огромной коллекцией книг!<br>
        Книги на любой вкус: от сказок Александра Пушкина до хорроров Стивена Кинга!<br>
        Читайте только у нас!
    </p>
    <br>
    <br>
    <br>
    <p>
        Этот сайт был создан студентом 2-го курса<br>
        Создан он был как дипломный проект для WebCat<br>
        Контакты создателя есть в footer-е накаждой странице<br>
        Спасибо за внимание к моей работе)!
    </p>
</div>

{% endblock %}