{% extends "base.html" %}

{% block content %}
<div class="main-text">
    <p>
        LIB — онлайн библиотека с огромной коллекцией книг!<br>
        Книги на любой вкус: от сказок Александра Пушкина до хорроров Стивена Кинга!<br>
        Читайте только у нас!
    </p>
</div>

<h2 class="second-title">Последние добавленные книги</h2>

<!-- Слайдер -->
<div class="books-slider-container">
    <!-- Левая волна -->
    <img class="slider-wave left" src="{{ url_for('static', filename='images/left_wave.png') }}" alt="Назад">

    <!-- Трек с карточками книг -->
    <div class="slider-track">
        {% for book in books %}
        <div class="slider-card">
            <img class="slider-card-image" src="data:image/jpeg;base64,{{ book.get_photo_base64() }}" alt="Обложка книги">
            <h3 class="card-title-book"><a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.title }}</a></h3>
            <div class="slider-card-info-row">
                <p class="book-author">Авторы {% for author in book.authors %} {{ author.name }} {{ author.surname}} |{% endfor %}</p>
                <div class="slider-view-container">
                    <p>100</p>
                    <img class="slider-eye-image" src="{{ url_for('static', filename='images/eye.svg') }}" alt="Кол-во показов">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Правая волна -->
    <img class="slider-wave right" src="{{ url_for('static', filename='images/right_wave.png') }}" alt="Вперёд">
</div>

<!-- Кнопка добавления книги -->
{% if current_user.is_authenticated %}
    {% if current_user.role == "admin" %}
        <a class="add-new-book-button" href="{{ url_for('add_book') }}">Добавить книгу</a>
    {% endif %}
{% endif %}

<script src="{{ url_for('static', filename='scripts/slider-waves.js') }}"></script>
{% endblock %}