{% extends "base.html" %}
{% block content %}
<div class="user-profile-container">
    <div class="profile-card-container">
        <img src="{{ user.avatar(100) }}" class="profile-avatar-image">
        <div class="user-info-container">
            <p class="profile-username">{{ user.username }}</p>
            <p class="profile-user-email">{{ user.email }}</p>
            {% if user.role == "admin"%}
                <p class="profile-user-role">Администратор</p>
            {% else %}
                <p class="profile-user-role">Пользователь</p>
            {% endif %}
        </div>
        <p class="profile-books-container-title">Мои книги</p>
        <div class="profile-books-container">
            {% for book in user.books %}
                <div class="book-card">
                    <img src="data:image/jpeg;base64,{{ book.get_photo_base64() }}" class="profile-book-image">
                    <div class="profile-book-info">
                        <p>{{ book.title }}</p>
                        <p>Авторы книги: {% for author in book.authors %} {{ author.name }} {{ author.surname }} | {% endfor %}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="user-profile-reviews">
        <p class="profile-reviews-container-title">Мои отзывы</p>
        {% for review in user.reviews %}
            <div class="review-card">
                <p class="review-title">{{ review.title }}</p>
                <p class="review-text">{{ review.text }}</p>
            </div>
        {% endfor %}
        <a href="{{ url_for('user_reviews', username=user.username) }}" class="see-all-reviews">Смотреть все отзывы</a>
    </div>
</div>
{% endblock %}